.header_options {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;

  img {
    width: 100%;
    height: 60px;
  }

  .user_content {
    display: flex;
    align-items: center;
  }
  
  .user_content h1 {
    margin-right: 25px;
  }

  .user_content .user img {
    height: 60px;
    width: 60px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
  }
}
