.select-bar {
  height: auto;
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--color-light-grey);
    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 50px;
      cursor: pointer;
      &::after {
        content: '';
        background-color: var(--colorPrimary);
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: -1px;
        transition: ease 0.4s;
      }
      span {
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: var(--color-black);
        transition: ease 0.4s;
      }
      &.onBtn {
        background-color: var(--color-purple);
        span {
          color: var(--color-white);
        }
        &::after {
          width: 100%;
        }
      }
      &:hover {
        span {
          color: var(--colorPrimary);
        }
        &::after {
          width: 100%;
        }
      }
    }
  }
}
