name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Install dependencies
        run: npm install
        working-directory: ./src
      - name: CHMOD build
        run: sudo chmod +x ./build.sh
        working-directory: ./src
      - name: Generate build
        run: npm run build
        working-directory: ./src
      - name: Share artifact inside workflow
        uses: actions/upload-artifact@v1
        with:
          name: react-github-actions-build
          path: ./src/dist
